body {
    background-image: linear-gradient(lavender, lavenderblush, azure);
}

#infierno h2 {
    color: brown;
}

#purgatorio h2 {
    color: green;
}
#paraíso h2 {
    color: blueviolet;
}
section {
    margin: auto;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
}
#infierno {
    border: 2px dotted brown
}
#purgatorio {
    border: 2px dashed green;
}
#paraíso {
    border: 2px outset blueviolet;
}
header {
    width: 100%;
    margin: auto;
}

ol ol {
    border: 1px solid salmon;
    list-style-type: none;
    padding: 0;
    text-align: center;
}